*{margin: 0;padding: 0;}
@media screen and (min-width: 992px){
    .my_header{
        width: 100%;
        height: 25rem;
    }
    .my_footer{
        width: 100%;
        height: 38rem;
    }
}
@media screen and (max-width: 991px){
    .my_header{
        width: 100%;
        height: 51rem;
    }
    .my_footer{
        width: 100%;
        height: 59rem;
    }
}
.carousel-control-prev,.carousel-control-next{
    width: 4%;height: 20%;
    background: rgba(0,0,0,0.3);
    top: 40%;
    border-radius: 4px;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
.carousel-indicators .active{
    background: #0aa1ed;
}
.container>#demo>.carousel-inner >div{
    display: inline-block !important;
}
.font_1{
    font-size: 18px;
    color: #2f2f2f;
}
.font_1:hover{
    color: #CC0E17;
    text-decoration:none
}
.bg_1{
    height: 493px;
    width: 570px;
}
.color_1{
    line-height: 2;
}
.color_2{
    background: #CC0E17;
    font-size: 14px;
    line-height: 3;
    height: 493px;
    width: 100%;
}
.color_3{
    letter-spacing: 4px;
    line-height: 24px;
}
.border_1{
    display: inline-block;
    border: 1px solid #C6D8E8;
    padding: 0px 15px;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 10px;
}
.hw{
    height: 18px;
    width: 18px;
}
.font_2{
    color: #2f2f2f;
}
.font_2:hover{
    color: #CC0E17;
    text-decoration: none;

}
.bg_2{
    background: #f3f3f3;
}
.left_h3{
    display: inline-block;
    height: 45px;
    border-bottom: 1px solid #CC0E17;
}
.left_h4{
    display: inline-block;
    height: 50px;
    border-bottom: 1px solid #CC0E17;
}
.font_3{
    font-size: 14px;
}
.font_4{
    font-size: 16px;
}
.font_5{
    font-size: 20px;
}
.text-align-right_1{
    text-align: right;
}
.top_bg{
    color: #ccc;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background: #242424;
    border-bottom: 1px solid #e4e4e4;
}
.font-1{
    color: #CC0E17;
    font-size: 1.55rem;
    font-weight: bold
}
.bg-danger_1{
    background-color: #CC0E17;
}
#content{
    height: 4rem;
}
#content a{
    font-size: 18px;
    background-color: #CC0E17;
}

#content ul>li a:hover{
    background: gray !important;
}
.dropdown-item{
    display: block;
    background: gray !important;
}
.navbar-nav{
    text-align: center;
}
.container #content {
    line-height: 4rem !important;
}
.d-no{
    display: none;
}
ul>li:hover div{
    display:block;
}
.color_1 div p a{
    color: #363f4d;
    text-decoration: none
}
.color_1 div p a:hover{
    color: #0cab33;
    text-decoration: none
}
.bg{
    background-color: #f5f5f5;
}
.bg_1{
    background-color: #ebebeb;
    font-size: 18px;
    color: #363f4d;
}

/*鼠标悬停放大效果*/
.container .scale_1 :hover{
    transform: scale(1.02);
}
.container .scale_2 :hover{
    transform: rotateY(15deg);
}
.container :nth-child(12) div :hover{
    transform: scale(0.95);
}